@font-face {
	font-family: "Open Sans";
	src:
		local("Open Sans ExtraBold"),
		local("OpenSans-ExtraBold"),
		url("src/open-sans/OpenSans-ExtraBold.woff2") format("woff2"),
		url("src/open-sans/OpenSans-ExtraBold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Open Sans";
	src:
		local("Open Sans Bold Italic"),
		local("OpenSans-BoldItalic"),
		url("src/open-sans/OpenSans-BoldItalic.woff2") format("woff2"),
		url("src/open-sans/OpenSans-BoldItalic.woff") format("woff");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Open Sans";
	src:
		local("Open Sans Bold"),
		local("OpenSans-Bold"),
		url("src/open-sans/OpenSans-Bold.woff2") format("woff2"),
		url("src/open-sans/OpenSans-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Open Sans";
	src:
		local("Open Sans Light"),
		local("OpenSans-Light"),
		url("src/open-sans/OpenSans-Light.woff2") format("woff2"),
		url("src/open-sans/OpenSans-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Open Sans";
	src:
		local("Open Sans Italic"),
		local("OpenSans-Italic"),
		url("src/open-sans/OpenSans-Italic.woff2") format("woff2"),
		url("src/open-sans/OpenSans-Italic.woff") format("woff");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Open Sans";
	src:
		local("Open Sans Medium Italic"),
		local("OpenSans-MediumItalic"),
		url("src/open-sans/OpenSans-MediumItalic.woff2") format("woff2"),
		url("src/open-sans/OpenSans-MediumItalic.woff") format("woff");
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Open Sans";
	src:
		local("Open Sans SemiBold Italic"),
		local("OpenSans-SemiBoldItalic"),
		url("src/open-sans/OpenSans-SemiBoldItalic.woff2") format("woff2"),
		url("src/open-sans/OpenSans-SemiBoldItalic.woff") format("woff");
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Open Sans";
	src:
		local("Open Sans ExtraBold Italic"),
		local("OpenSans-ExtraBoldItalic"),
		url("src/open-sans/OpenSans-ExtraBoldItalic.woff2") format("woff2"),
		url("src/open-sans/OpenSans-ExtraBoldItalic.woff") format("woff");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Open Sans";
	src:
		local("Open Sans Light Italic"),
		local("OpenSans-LightItalic"),
		url("src/open-sans/OpenSans-LightItalic.woff2") format("woff2"),
		url("src/open-sans/OpenSans-LightItalic.woff") format("woff");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Open Sans";
	src:
		local("Open Sans Medium"),
		local("OpenSans-Medium"),
		url("src/open-sans/OpenSans-Medium.woff2") format("woff2"),
		url("src/open-sans/OpenSans-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Open Sans";
	src:
		local("Open Sans Regular"),
		local("OpenSans-Regular"),
		url("src/open-sans/OpenSans-Regular.woff2") format("woff2"),
		url("src/open-sans/OpenSans-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Open Sans";
	src:
		local("Open Sans SemiBold"),
		local("OpenSans-SemiBold"),
		url("src/open-sans/OpenSans-SemiBold.woff2") format("woff2"),
		url("src/open-sans/OpenSans-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
